<%- include('../components/header') -%>

<h1 class="font-bold text-4xl my-6 text-gray-700 text-center">New Quiz</h1>

<div class="max-w rounded m-4 overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-2xl text-gray-700 mb-2">Name of the Quiz</div>
    <input
      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      type="text"
      placeholder="My first Quiz"
    />
    <textarea
      class="autoexpand tracking-wide py-2 px-4 mb-3 leading-relaxed appearance-none block w-full bg-gray-200 border border-gray-200 rounded focus:outline-none focus:bg-white"
      placeholder="Description of the Quiz"
    ></textarea>

    <div class="font-bold text-2xl text-gray-700 mb-2">Questions</div>
    <input
      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      type="text"
      placeholder="Question"
    />

    <hr />
    <div class="flex flex-col mt-3 w-full">
      <div class="flex flex-row w-full">
        <div class="w-5/6 text-gray-700 font-bold">Answer</div>
        <div class="w-1/6 text-center font-bold text-gray-700 self-end">
          Correct?
        </div>
      </div>
      <div class="flex flex-row my-2">
        <input
          class="w-5/6 self-center appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          type="text"
          placeholder="Answer 1"
        />
        <div class="w-1/6 self-center text-center">
          <input
            type="radio"
            class="form-radio h-6 w-6 text-teal-600"
            name="answer"
          />
        </div>
      </div>

      <div class="flex flex-row my-2">
        <input
          class="w-5/6 self-center appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          type="text"
          placeholder="Answer 2"
        />
        <div class="w-1/6 self-center text-center">
          <input
            type="radio"
            class="form-radio h-6 w-6 text-teal-600"
            name="answer"
          />
        </div>
      </div>

      <div class="flex flex-row my-2">
        <input
          class="w-5/6 self-center appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          type="text"
          placeholder="Answer 3"
        />
        <div class="w-1/6 self-center text-center">
          <input
            type="radio"
            class="form-radio h-6 w-6 text-teal-600"
            name="answer"
          />
        </div>
      </div>

      <div class="flex flex-row my-2">
        <input
          class="w-5/6 self-center appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          type="text"
          placeholder="Answer 4"
        />
        <div class="w-1/6 self-center text-center">
          <input
            type="radio"
            class="form-radio h-6 w-6 text-teal-600"
            name="answer"
          />
        </div>
      </div>

      <button
        class="self-center shadow bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-1 px-6 my-4 rounded"
      >
        Add new Question
      </button>
      <hr />
    </div>
    <div class="px-6 pt-4 pb-5 flex flex-col-reverse">
      <a
        href="/"
        class="self-end shadow bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
      >
        Create Quiz
      </a>
    </div>
  </div>
</div>

<%- include('../components/footer') -%> <%- include('../components/footer') -%>
