<%- include('../components/header') -%>

<h1 class="font-bold text-4xl my-6 text-gray-700 text-center">
  Name of the Quiz
</h1>

<div class="max-w rounded m-4 overflow-hidden shadow-lg">
  <div class="px-6 py-4 flex flex-col">
    <div class="self-center text-2xl text-gray-700 my-5">Your score</div>

    <span class="self-center font-bold my-5 text-6xl text-gray-700">
      85 %
    </span>
  </div>
  <div class="px-6 pt-4 pb-5 flex flex-row-reverse">
    <a
      href="/"
      class="self-end mx-5 shadow bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
    >
      Close
    </a>
    <a
      href="/quiz/show"
      class="self-end border mx-5 bg-transparent shadow border-teal-500 hover:border-teal-400 focus:shadow-outline focus:outline-none text-teal-500 font-bold py-2 px-4 rounded"
    >
      Try again
    </a>
  </div>
</div>

<%- include('../components/footer') -%>
