
<div class="flex bg-red-200 p-4 mb-2">
  <div class="flex justify-between w-full">
    <div class="text-red-600">
      <p class="mb-2 font-bold">
        <%= error.param %>
      </p>
      <p class="text-xs">
        <%= error.msg %>
      </p>
    </div>
  </div>
</div>
