<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./navigation') -%>

    <div class="container mx-auto px-4">
      <% if (error != '') { %>
        <div class="flex bg-red-200 p-4 mt-2">
          <div class="flex justify-between w-full">
            <div class="text-red-600">
              <p class="mb-2 font-bold">
                <%= error %>
              </p>
            </div>
          </div>
        </div>
      <% } %>

      <% if (success != '') { %>
        <div class="flex bg-green-200 p-4 mt-2">
          <div class="flex justify-between w-full">
            <div class="text-green-600">
              <p class="mb-2 font-bold">
                <%= success %>
              </p>
            </div>
          </div>
        </div>
      <% } %>
