<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a href="/" class="font-semibold text-xl tracking-tight">Simple Quiz</a>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="/logged-in" class="block mt-4 mr-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
        Home 
      </a>
    </div>
    <div>
      <script>
        const dropownOnClick = () => {
          const dropdown = document.getElementById('dropdown')
          if(dropdown.classList.value.includes('block')) {
            dropdown.classList.remove('block')
            dropdown.classList.add('hidden')
          } else {
            dropdown.classList.add('block')
            dropdown.classList.remove('hidden')
          }
        }
      </script>
      <div class="block mr-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
        <button class="flex" onClick="dropownOnClick()">
          <img class="h-6 w-6 object-cover mr-2 rounded-full overflow-hidden border-2 border-gray-600 focus:outline-none focus:border-white" src="https://placehold.it/18x18" alt="Your avatar">
          Username 
        </button>
        <div id="dropdown" class="absolute hidden right-0 mt-2 py-2 w-48 bg-white shadow-xl">
          <a href="/user/profile" class="block px-4 py-2 text-gray-800 hover:bg-teal-500 hover:text-white">
            Profile
          </a>
          <a href="/quiz/new" class="block px-4 py-2 text-gray-800 hover:bg-teal-500 hover:text-white">
            New Quiz +
          </a>
          <a href="/" class="block px-4 py-2 text-gray-800 hover:bg-teal-500 hover:text-white">Sign out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
